---
import SoundForm from "@/pages/boards/SoundForm.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import type { Board } from "@/lib/db";
import Partial from "@/components/Partial.astro";

const boards: (typeof Board.$inferSelect)[] = [
  {
    id: "1",
    name: "Loading",
    userId: "bholmesdev",
    createdAt: new Date(),
  },
  {
    id: "2",
    name: "Loading",
    userId: "bholmesdev",
    createdAt: new Date(),
  },
  {
    id: "3",
    name: "Loading",
    userId: "bholmesdev",
    createdAt: new Date(),
  },
  {
    id: "4",
    name: "Loading",
    userId: "bholmesdev",
    createdAt: new Date(),
  },
];
---

<MainLayout title="Boards | WOMP">
  <main class="grid grid-cols-auto-cards gap-6">
    {
      boards.map(({ name, id }) => (
        <Partial component={SoundForm} searchParams={{ name, id }} />
      ))
    }
  </main>
</MainLayout>
